/* Link */
.link-arrow {
  color: var(--accent-color);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow:after {
  content: "-->";
  margin-left: 5px;
  transition: 0.4s margin ease;
}

.link-arrow:hover::after {
  margin-left: 1rem;
}

.list {
  color: var(--heading-color);
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(../img/Icon/tick.svg);
  padding-left: 3rem;
}

.list--tick .list__item {
  padding-left: 1rem;
  margin-bottom: 1rem;
}

/* Icon */
.icon {
  width: 40px;
  height: 40px;
}

.icon--primary {
  fill: var(--primary-color);
}

.icon--white {
  fill: #fff;
}

.icon-container {
  background: #f3f9fa;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon-container--accent {
  background: var(--accent-color);
}
/* Buttons */
.btn {
  border-radius: 50px;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 2rem 3rem;
  text-transform: uppercase;
  white-space: nowrap;
  transition: opacity, transform 0.3s ease-in;
  margin: 1rem 0;
  outline: 0;
}

.btn .icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  vertical-align: middle;
}
.btn:focus,
.btn:hover {
  opacity: 0.8;
  transform: scale(0.95);
}

.btn--stretched {
  padding: 2rem 6rem;
}
.btn--block {
  width: 100%;
}

.btn--outline {
  background: #fff;
  color: var(--heading-color);
  border: 2px solid var(--heading-color);
  transition: 0.3s background, color ease-in;
}
.btn--outline:focus,
.btn--outline:hover {
  background: var(--heading-color);
  color: #fff;
}
.btn--primary {
  background: var(--primary-color);
}

.btn--secondary {
  background: var(--secondary-color);
}

.btn--accent {
  background: var(--accent-color);
}

.btn--header {
  background: var(--heading-color);
  color: #fff;
}

/* Grid */
.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
}

/* Flex */
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  /* width: 90%; */
  max-width: 1140px;
  margin: 0 auto;
  padding: 1rem 1.5rem;
}

.text-center {
  text-align: center;
}
/* Margin and Padding  */
.my-1 {
  margin: 1.5rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 2.5rem 0;
}

.my-4 {
  margin: 3rem 0;
}

.my-5 {
  margin: 3.5rem 0;
}

.my-6 {
  margin: 4rem 0;
}

.py-1 {
  padding: 1.5rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 2.5rem 0;
}

.py-4 {
  padding: 3rem 0;
}

.py-5 {
  padding: 3.5rem 0;
}

.py-6 {
  padding: 4rem 0;
}

.m-1 {
  margin: 1.5rem;
}

.m-2 {
  margin: 2rem;
}

.m-3 {
  margin: 2.5rem;
}

.m-4 {
  margin: 3rem;
}

.m-5 {
  margin: 3.5rem;
}

.m-6 {
  margin: 4rem;
}

.p-1 {
  padding: 1.5rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 2.5rem;
}

.p-4 {
  padding: 3rem;
}

.p-5 {
  padding: 3.5rem;
}

.p-6 {
  padding: 4rem;
}
