<div class="collapsible collapsible--expanded">
  <header class="collapsible--header flex">
    <h2 class="collapsible__heading">Item 1</h2>
    <svg class="icon icon--white collapsible__chevron">
      <use xlink:href="img/icon/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptatibus
    possimus, neque expedita voluptas quasi! Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Saepe accusantium sequi quaerat, perferendis
    aut quod natus. Temporibus ipsa a doloribus!
  </div>
</div>

<div class="collapsible collapsible--expanded">
  <header class="collapsible--header flex">
    <h2 class="collapsible__heading">Item 1</h2>
    <svg class="icon icon--white collapsible__chevron">
      <use xlink:href="img/icon/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptatibus
    possimus, neque expedita voluptas quasi! Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Saepe accusantium sequi quaerat, perferendis
    aut quod natus. Temporibus ipsa a doloribus!
  </div>
</div>
