<!-- Section Features -->
<section class="feature container">
  <header class="block__header my-5">
    <h2>Host on the Cloud to keep growing</h2>
    <p class="my-1">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, harum!
    </p>
  </header>
  <!-- 1st Article -->
  <div class="feature-content grid grid--col-2 my-6">
    <div>
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="img/icon/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="my-1">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo molestias
        dolorem odio praesentium recusandae commodi sunt, dolore a ex quo
        aliquam iusto harum suscipit! Architecto illo quo libero labore itaque.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <img src="img/easy.jpg" alt="graphic" />
  </div>
  <!-- 2nd Article -->
  <div class="feature-content grid grid--col-2 my-6">
    <div>
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="img/icon/sprite.svg#computer"></use>
        </svg>
      </span>
      <h3 class="my-1">Simply fast websites</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo molestias
        dolorem odio praesentium recusandae commodi sunt, dolore a ex quo
        aliquam iusto harum suscipit! Architecto illo quo libero labore itaque.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <img src="img/fast.jpg" alt="graphic" />
  </div>
  <!-- 3rd Article -->
  <div class="feature-content grid grid--col-2 my-6">
    <div>
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="img/icon/sprite.svg#settings"></use>
        </svg>
      </span>
      <h3 class="my-1">WordPress made easy</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo molestias
        dolorem odio praesentium recusandae commodi sunt, dolore a ex quo
        aliquam iusto harum suscipit! Architecto illo quo libero labore itaque.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <img src="img/wordpress.jpg" alt="graphic" />
  </div>
  <!-- 4th Article -->
  <div class="feature-content grid grid--col-2 my-6">
    <div>
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="img/icon/sprite.svg#clock"></use>
        </svg>
      </span>
      <h3 class="my-1">24/7 Expert Support</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo molestias
        dolorem odio praesentium recusandae commodi sunt, dolore a ex quo
        aliquam iusto harum suscipit! Architecto illo quo libero labore itaque.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <img src="img/support.jpg" alt="graphic of a chart" />
  </div>
</section>
